<h3>Aromas</h3>
<div class="row d-flex justify-content-around">
    <div class="card d-flex justify-content-center" style="width: 18rem;"><h4>MrPino</h4>
        <img src="assets/img/productos/4 Aromas/1 Mr pino/3.jpg" class="card-img-top" alt="...">
        <div class="card-body"> <h5>MrPino</h5>
            <p class="card-text"> Aromatizante de efectiva acción y larga duración que proporciona una delicada fragancia.  Utilícelo en su automóvil, hogar, oficina o en todo ambiente donde desee un aroma agradable. Disponible en las fragancias Pino splash, Citrus sweet y Agua Marina. </p>
        </div>
    </div>
    <div class="card  d-flex justify-content-center" style="width: 18rem;"><h4>Prqueños Ambientes</h4>
        <img src="assets/img/productos/4 Aromas/2 Armoatizante pequeños ambientes/IMG_1170.jpg" class="card-img-top" alt="...">
        <div class="card-body"><h5>Aromatizante pequeños ambientes</h5>
            <p class="card-text">Aromatizante que contiene esencias exclusivas y un novedoso sistema que permite que la fragancia se libere gradualmente, logrando una atractiva y relajante sensación de frescura. </p>
        </div>
    </div>
    <div class="row">
        <div class="card d-flex justify-content-center" style="width: 18rem;"> <h4>Sevenday</h4>
            <img src="assets/img/productos/4 Aromas/3 Sevenday/IMG_1138.jpg" class="card-img-top" alt="...">
            <div class="card-body"> <h5>Sevenday</h5>
                <p class="card-text">Perfume para autos, desarrollado con esencias de alta calidad. Disponible en spray de 500cc. Fragancias: Lemon, Uva y Exótico. </p>
            </div>
        </div>
    </div>
</div>

