<div class="row footer">
    <div class="col-12 col-lg-6">
        <div class="row d-flex justify-content-center">
            <h4>Contactenos:</h4>
        </div>
        <div class="row d-flex justify-content-center fot">
            <p> Numero de contacto: +5491159055415.</p>
        </div>
        <div class="row d-flex justify-content-center fot">
            <p> Mail: argensil@Argensil.com.ar</p>
        </div>
        <div class="row d-flex justify-content-center link">
            <a href="https://www.facebook.com/argensilok/" target="_blank"><img src="../../assets/img/Facebook_white.png" alt=""></a>
            <a href="https://www.instagram.com/argensilok/?hl=es-la" target="_blank"><img src="../../assets/img/Instagram_white.png" alt=""></a>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row d-flex justify-content-center">
            <h4>Donde encontrarnos</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.405085626974!2d-58.542466585194674!3d-34.619202165823744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7e374e282d3%3A0x2b92b86a4be22fd5!2sAMD%2C%20Dardo%20Rocha%201836%2C%20B1703%20Jos%C3%A9%20Ingenieros%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1571684465901!5m2!1ses!2sar" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>