<div class="row">
    <div class="d-none d-lg-block col-lg-3">
        <img class="responsive-image" src="assets/img/nosotros.jpg" alt="">
    </div>
    <div class="col-12 col-lg-9">
        <div class="row d-flex justify-content-center">
            <h2>Argensil</h2>
        </div>
        <div class="row d-flex justify-content-center nos">
            <p>Argensil nace en 1985 al norte del Gran Buenos Aires, donde el dueño de 
                un lavadero de autos, Enrique Zabala padre, buscó solucionar un problema 
                muy común entre sus clientes: el sol desgastaba con el tiempo las capotas 
                negras de los autos de ese entonces, dándoles un color arratonado. Con la 
                ayuda de un profesional en química, desarrolló un producto a base de 
                silicona para dar brillo y vida a los techos de los automóviles.  
                </p>    
            <p>A causa de esta iniciativa la empresa, dedicada a la fabricación de productos 
                químicos para la cosmética del automóvil, lleva siendo líder por más de 30 
                años con su línea de siliconas marca: a-3. Otras marcas que la acompañan 
                en el mercado son: Mr. Ball, Mr. Pino, Tutti, Vinyl Fresh y Sevenday. 
                </p>
            <p>Hasta la fecha la marca se encuentra en continuo desarrollo y crecimiento 
                y lo seguirá siendo con el objetivo del cuidado del auto como prioridad.
                </p>
        </div>
    </div>
</div>
