<h3>Interiores</h3>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row d-flex justify-content-center">
            <h4>Siliconas</h4>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/2 Interior/1 Siliconas/Silicona en Aerosol/IMG_1131.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>En aerosol</h5>
                        <p class="card-text">Impermeabiliza y realza el color natural de telas vinílicas, cueros
                            (calzados, maletines, valijas), goma, Fórmica, Corlok, mármol, granito, azulejos, bronce,
                            niquelados, cromados, anodizados, etc. Impide que el polvo se pegue y además repele la
                            humedad. Disponible en 5 fragancias distintas: Manzana, vainilla, limón, fresa y fantasía.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/2 Interior/1 Siliconas/Silicona liquida/IMG_1132.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Líquida</h5>
                        <p class="card-text">Protege y realza el color en cueros, vinílicos y gomas, formando sobre la
                            superficie una película que protege contra la humedad. Disponible en frasco de 120cc,
                            botella de 500 cc y botellón de 1 litro. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="row d-flex justify-content-center card-margen-suelta">
            <h4>Vinyl Fresh</h4>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/2 Interior/2 Vinyl Fresh/IMG_1100.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">Protege y renueva los vinilos interiores del automóvil. Contiene filtro
                            para rayos UV
                            del sol, impidiendo su resquebrajamiento y decoloración. Formulado con exclusivas esencias
                            que dejan una
                            suave y agradable sensación de frescura. Vinyl fresh es fácil de aplicar, produce un
                            excelente brillo
                            satinado que no encandila, no es graso y no atrae el polvo. Disponible en envase de 500 cc y
                            en bidón de
                            5 litros. Fragancias Citrus, Mountain y Tropic. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="row d-flex justify-content-center card-margen-suelta">
            <h4>Tapizados y alfombras</h4>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/2 Interior/3 Tapizados y Alfombras/IMG_1124.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Espuma seca especialmente formulada para la limpieza de tapizados y
                            alfombras. Su
                            formulación especial protege las telas sometidas a un uso intenso y evita que la suciedad
                            penetre en los
                            tejidos, prolongando su vida útil. Disponible en lata de 440cc. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>