<h3>Lubricantes y Desengrasantes</h3>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row d-flex justify-content-center">
            <h4>Lubricantes</h4>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/3 Lubricantes y desengrasantes/1 Lubricantes/lubcadenas.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Lubricante para cadenas</h5>
                        <p class="card-text">Desarrollado para el uso profesional. Diseñado para lubricar y proteger
                            todo tipo de cadenas y cables de transmisión. Formulado a partir de aceites altamente
                            refinados, aditivos desengrasantes y suplementos anticorrosivos. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/3 Lubricantes y desengrasantes/1 Lubricantes/Lata Lubricante/IMG_1123.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Lubricante Multiuso</h5>
                        <p class="card-text">Desplaza la humedad de los sistemas de ignición y equipos eléctricos,
                            mejorando su funcionamiento. Afloja y destraba piezas metálicas, tornillos, tuercas, pernos,
                            cadenas, candados y otros mecanismos de igual naturaleza. Lubrica todo tipo de dispositivos
                            metálicos eliminando chirridos y fricciones, evitando el desgaste de las piezas. Preserva
                            del óxido y la corrosión mediante una barrera protectora, resistente y perdurable.
                            Disponible en Latas de 250cc y 440cc, también disponible en pipeta 100 cc. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
<div class="col-12 col-lg-6">
    <div class="row d-flex justify-content-center">
        <h4>Desengrasantes</h4>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/productos/3 Lubricantes y desengrasantes/2 Desengrasante/IMG_1151.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Limpia motor</h5>
                    <p class="card-text">Es un poderoso desengrasante biodegradable, que deja las partes de aluminio y
                        cromado del motor limpias y brillantes. No es graso y seca rápidamente. No perjudica las partes
                        pintadas, gomas y plásticos. Disponible en bidón de 5 litros. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/productos/3 Lubricantes y desengrasantes/2 Desengrasante/Desengrasante/IMG_1136.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Desengrasante Naranja</h5>
                    <p class="card-text">Desengrasante con la fuerza limpiadora de la naranja. Bio-degradable. Ideal
                        para
                        motores, herramientas, pisos, lonas y demás superficies expuestas a grasas. Disponible en spray
                        de
                        500cc y en bidón de 5 litros. </p>
                </div>
            </div>
        </div>

    </div>

</div>

</div>



<div class="row d-flex justify-content-center">
    <h4>Frenos</h4>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/3 Lubricantes y desengrasantes/3 Frenos/IMG_1126.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5></h5>
                <p class="card-text">Limpiador de frenos: Potente limpiador en aerosol a base de solventes que elimina
                    rápidamente la grasa, el aceite y otros depósitos de todas las piezas del freno, embrague, motores
                    eléctricos y contactos electrónicos. </p>
            </div>
        </div>
    </div>
</div>