<div class="row">

</div>
<nav class="navbar navbar-light" style="background-color: #ffffff;">
     
  <div class="row d-flex justify-content-start margen">
    <div class="col-2  d-flex align-content-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon margen"></span>
  </button>
    </div>
    <div class="col-lg-10 d-flex justify-content-center">
      <img src="assets/img/logo.png" [routerLink]="['/inicio']" class="d-none d-lg-block img-responsive" style="display: block; width: 15%; height: 100%;">
    </div>
    </div>
  <div class="collapse navbar-collapse colapsar" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/inicio']">Inicio<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/productos']">Productos<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/nosotros']">Nosotros<span class="sr-only"></span></a>
      </li>
     
    </ul>
  </div>
</nav>