<carousel>
  <slide>
    <img src="assets/img/Flyer/1.jpg" class="img-responsive" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Innovacion</h3>
      <p>En constante crecimiento</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/Flyer/2.jpg" class="img-responsive" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Compromiso</h3>
      <p>Con nuestros clientes</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/Flyer/3.jpg" class="img-responsive" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Desarrollo</h3>
      <p>Con el objetivo del mejor cuidado del automovil</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/Flyer/4.jpg" class="img-responsive" alt="ford slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Trayectoria</h3>
      <p>Mas de 30 años brindando servicio</p>
    </div>
  </slide>
</carousel>
