<h3>Exteriores</h3>
<div class="row d-flex justify-content-center">
    <h4>Lavado y Encerado</h4>
</div>
<div class="row">
    <div class="col-6 col-lg-3 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/1 Exterior/1 Lavado y encerado/IMG_1103.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5>Lava autos con Cera</h5>
                <p class="card-text">3 Lava autos con cera: Esta formulado especialmente con ceras solubles en agua, lo
                    que permite obtener un mejor acabado y un brillo intenso. Es biodegradable. Disponible en envase de
                    500cc y en bidón de 5 litros.
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/1 Exterior/1 Lavado y encerado/IMG_1104.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5>Lava lustre </h5>
                <p class="card-text">Producto formulado con cera y silicona que realza el brillo perseverando la
                    pintura. Disponible en envase de 500cc. </p>

            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/1 Exterior/1 Lavado y encerado/IMG_1107.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5>Cera Siliconada:</h5>
                <p class="card-text">Es una emulsión especialmente formulada para lograr un brillo intenso y duradero,
                    sin dañar la pintura de la carrocería.
                    De fácil aplicación. No contiene abrasivos. Apto para ser empleado en cualquier tipo de pintura.
                    Disponible en envase de 500 cc.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/1 Exterior/1 Lavado y encerado/IMG_1154.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5>Silicona para exteriores</h5>
                <p class="card-text">Da un brillo intenso y permanente, no se va con el agua. Ideal para aplicar en
                    cubiertas, paragolpes y baguetas. Disponible en bidón de 5 litros. </p>
            </div>
        </div>
    </div>

    <div class="col-6 col-lg-3 d-flex justify-content-center card-margen">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/productos/1 Exterior/1 Lavado y encerado/lava autos siliconado/IMG_1105.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Lava autos siliconado</h5>
                <p class="card-text">Producto neutro y biodegradable formulado especialmente con silicona, logrando un
                    mejor acabado y excelente brillo agregando durabilidad al lavado. Disponible en envase de 500cc y en
                    bidón de 5 litros. </p>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-12 col-lg-6">

        <div class="row d-flex justify-content-center">
            <h4>Cristales</h4>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/1 Exterior/2 Cristales/IMG_1133.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5>Lava parabrisas concentrado</h5>
                        <p class="card-text">
                            Facilita el lavado del parabrisas, eliminando la grasitud y suciedad provocada por insectos
                            y elementos externos, permite el fácil desplazamiento de las escobillas. Disponible en
                            envase de 500cc y en bidón de 5 litros. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/1 Exterior/2 Cristales/IMG_1157.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5>Lava parabrisas listo para usar</h5>
                        <p class="card-text">Facilita el lavado del parabrisas, elimina todo tipo de suciedad. Vierta en
                            el deposito del auto y ya esta listo para usar. Disponible en bidón de 5 litros. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row d-flex justify-content-center">
            <h4>Cubiertas</h4>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center card-margen">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/productos/1 Exterior/3 Cubiertas/IMG_1106.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5>Revividor para cubiertas y alfombras</h5>
                        <p class="card-text"> Otorga brillo a las cubiertas y alfombras de su automóvil. Disponible en
                            envase de 500 cc y en bidón de 5 litros. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>